
<div class="btn-group">
    <a href="~/Stage/Index" class="btn btn-default">Этапы</a>
    <a href="~/Status/Index" class="btn btn-default">Статусы проекта</a>
    <a href="~/Task/Index" class="btn btn-default">Задачи проекта</a>
    <a href="~/Role/Index" class="btn btn-default">Роли пользователей</a>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Команды <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="~/Team/Index">Добавить команду</a></li>
        <li><a href="~/Team/AddUser">Добавить участников</a></li>
        <li><a href="~/Role/AddUsers">Добавить роль участнику</a></li>
    </ul>
</div>
